{% extends 'base.html.twig' %}

{% block body %}
   <div class="mt-4 p-5 bg-primary text-white rounded">
       <h2>{{ 'Witaj w Task Manager'|trans }}!!!</h2>
       <p>
           {{ 'Task Manager to aplikacja do zarządzania zadaniami, która pozwala na śledzenie postępów, organizację pracy i efektywne zarządzanie czasem.'|trans }}
       </p>
</div>
{% endblock %}